<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="RegPath" value="HKEY_LOCAL_MACHINE\\SOFTWARE\\Feishu"/>
    <add key="RegName" value="test"/>
    <add key="RegValue" value="1"/>
  </appSettings>
</configuration>